QLineEdit {
    border: none;
    font-size: 12pt;
    font-weight: bold;
    background-color: transparent;
    padding: 0 4px;             
}

QLineEdit[editable="true"] {
    border: 1px solid #888;
    background-color: #fff;
}

QLabel#vsLabel {
    border: none;
    font-size: 12pt;
    font-weight: bold;
    background-color: transparent;
    padding: 0 4px;
}