[Desktop Entry]
Name=ChessMD
GenericName=ChessMD
Comment=Chess training software
Exec=ChessMD
Icon=ChessMD
Type=Application
Categories=Game;BoardGame;